header {
    display: grid;
    grid-template-columns: auto 90px 90px 90px 90px 90px auto;
    text-align: center;
}

header .app-name {
    font-family: Montserrat;
    display: inline-block;
    transform: translateY(-50%);
    top: 50%;
    position: relative;
}

header .tab-btn {
    font-family: Montserrat;
    background-color: white;
    border: 0.1px solid gray;
}

header .tab-btn.selected {
    background-color: #d3d3d3;
}