
main {
    display: block;
}

.tab {
    font-size: 14px;
    display: inline-block;
    width: 100%;
}

.tab .tab-name{
    font-family: Montserrat;
    text-align: center;
    margin: 2px 0;
    color: lightgray;
}

.tab .tab-title-line{
    margin: 0;
}

.tab iframe {
    width: 100%;
    height: 400px;
}